.rightnav {
    position: relative;
    text-decoration: none;
}

.rightnav.active {
    color: white;
}

.rightnav::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff5555;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.rightnav:hover::after {
    visibility: visible;
    transform: scaleX(1);

}

.rightnav.active::after {
    content: none;
    visibility: hidden;
    transform: scaleX(0);
}